In [1]:
# Importing dependencies
import pandas as pd
import numpy as np

# Loading the driver stats dataset into a DataFrame
data = pd.read_parquet(path="driver_stats_with_string.parquet")

# Sorting the rows by event timestamps, from oldest to newest
data = data.sort_values(by="event_timestamp")

In [2]:
# Inspecting the dataset's first 25 rows
data.head(25)

,event_timestamp,driver_id,conv_rate,acc_rate,avg_daily_trips,created,string_feature
1082,2021-04-12 07:00:00+00:00,1003,0.186658,0.245490,971,2021-09-15 18:01:55.403,test
721,2021-04-12 07:00:00+00:00,1004,0.891017,0.118256,154,2021-09-15 18:01:55.403,test
1443,2021-04-12 07:00:00+00:00,1002,0.775499,0.947109,890,2021-09-15 18:01:55.403,test
360,2021-04-12 07:00:00+00:00,1005,0.138263,0.955520,553,2021-09-15 18:01:55.403,test
1804,2021-04-12 07:00:00+00:00,1001,0.701558,0.195824,566,2021-09-15 18:01:55.403,test
722,2021-08-31 18:00:00+00:00,1003,0.494782,0.000316,634,2021-09-15 18:01:55.403,test
1444,2021-08-31 18:00:00+00:00,1001,0.910018,0.580611,666,2021-09-15 18:01:55.403,test
1083,2021-08-31 18:00:00+00:00,1002,0.381206,0.347303,268,2021-09-15 18:01:55.403,test
361,2021-08-31 18:00:00+00:00,1004,0.527224,0.893340,963,2021-09-15 18:01:55.403,test
0,2021-08-31 18:00:00+00:00,1005,0.362754,0.697629,31,2021-09-15 18:01:55.403,test
1445,2021-08-31 19:00:00+00:00,1001,0.037472,0.447685,786,2021-09-15 18:01:55.403,test
723,2021-08-31 19:00:00+00:00,1003,0.635551,0.669229,186,2021-09-15 18:01:55.403,test
1,2021-08-31 19:00:00+00:00,1005,0.790768,0.821253,520,2021-09-15 18:01:55.403,test
362,2021-08-31 19:00:00+00:00,1004,0.639311,0.828869,888,2021-09-15 18:01:55.403,test
1084,2021-08-31 19:00:00+00:00,1002,0.082020,0.250333,824,2021-09-15 18:01:55.403,test
1085,2021-08-31 20:00:00+00:00,1002,0.859787,0.494235,688,2021-09-15 18:01:55.403,test
724,2021-08-31 20:00:00+00:00,1003,0.935348,0.221686,129,2021-09-15 18:01:55.403,test
2,2021-08-31 20:00:00+00:00,1005,0.416623,0.939601,777,2021-09-15 18:01:55.403,test
363,2021-08-31 20:00:00+00:00,1004,0.352107,0.222272,677,2021-09-15 18:01:55.403,test
1446,2021-08-31 20:00:00+00:00,1001,0.504876,0.696549,807,2021-09-15 18:01:55.403,test
725,2021-08-31 21:00:00+00:00,1003,0.040856,0.026880,699,2021-09-15 18:01:55.403,test
3,2021-08-31 21:00:00+00:00,1005,0.108623,0.818718,750,2021-09-15 18:01:55.403,test
364,2021-08-31 21:00:00+00:00,1004,0.194456,0.675840,122,2021-09-15 18:01:55.403,test
1086,2021-08-31 21:00:00+00:00,1002,0.689625,0.350684,507,2021-09-15 18:01:55.403,test
1447,2021-08-31 21:00:00+00:00,1001,0.662374,0.117641,493,2021-09-15 18:01:55.403,test

In [3]:
# Inspecting the dataset's last 25 rows
data.tail(25)

,event_timestamp,driver_id,conv_rate,acc_rate,avg_daily_trips,created,string_feature
1438,2021-09-15 13:00:00+00:00,1002,0.187022,0.636303,698,2021-09-15 18:01:55.403,test
1799,2021-09-15 13:00:00+00:00,1001,0.217096,0.161140,800,2021-09-15 18:01:55.403,test
355,2021-09-15 13:00:00+00:00,1005,0.109662,0.948472,863,2021-09-15 18:01:55.403,test
1077,2021-09-15 13:00:00+00:00,1003,0.874185,0.446985,255,2021-09-15 18:01:55.403,test
716,2021-09-15 13:00:00+00:00,1004,0.692943,0.251203,289,2021-09-15 18:01:55.403,test
1078,2021-09-15 14:00:00+00:00,1003,0.580215,0.259824,379,2021-09-15 18:01:55.403,test
717,2021-09-15 14:00:00+00:00,1004,0.285921,0.871101,582,2021-09-15 18:01:55.403,test
1439,2021-09-15 14:00:00+00:00,1002,0.481214,0.767431,55,2021-09-15 18:01:55.403,test
1800,2021-09-15 14:00:00+00:00,1001,0.778216,0.069670,151,2021-09-15 18:01:55.403,test
356,2021-09-15 14:00:00+00:00,1005,0.287409,0.477578,354,2021-09-15 18:01:55.403,test
1440,2021-09-15 15:00:00+00:00,1002,0.726674,0.019728,737,2021-09-15 18:01:55.403,test
1801,2021-09-15 15:00:00+00:00,1001,0.293925,0.148313,716,2021-09-15 18:01:55.403,test
357,2021-09-15 15:00:00+00:00,1005,0.460150,0.349922,557,2021-09-15 18:01:55.403,test
1079,2021-09-15 15:00:00+00:00,1003,0.404311,0.176628,194,2021-09-15 18:01:55.403,test
718,2021-09-15 15:00:00+00:00,1004,0.254299,0.275834,293,2021-09-15 18:01:55.403,test
1802,2021-09-15 16:00:00+00:00,1001,0.681178,0.449826,906,2021-09-15 18:01:55.403,test
1441,2021-09-15 16:00:00+00:00,1002,0.516491,0.795655,594,2021-09-15 18:01:55.403,test
358,2021-09-15 16:00:00+00:00,1005,0.072890,0.136999,154,2021-09-15 18:01:55.403,test
1080,2021-09-15 16:00:00+00:00,1003,0.501248,0.094142,435,2021-09-15 18:01:55.403,test
719,2021-09-15 16:00:00+00:00,1004,0.986123,0.601093,951,2021-09-15 18:01:55.403,test
720,2021-09-15 17:00:00+00:00,1004,0.541801,0.595369,539,2021-09-15 18:01:55.403,test
359,2021-09-15 17:00:00+00:00,1005,0.318631,0.527131,189,2021-09-15 18:01:55.403,test
1442,2021-09-15 17:00:00+00:00,1002,0.379485,0.151377,315,2021-09-15 18:01:55.403,test
1803,2021-09-15 17:00:00+00:00,1001,0.812357,0.840873,714,2021-09-15 18:01:55.403,test
1081,2021-09-15 17:00:00+00:00,1003,0.072028,0.032925,41,2021-09-15 18:01:55.403,test

In [4]:
# Dropping the feature rows for 2021-04-12, 2021-08-31, and after 2021-09-15 00:00:00+00:00
data = data.iloc[35:-85]

In [5]:
# Inspecting the modified dataset's head
data.head()

,event_timestamp,driver_id,conv_rate,acc_rate,avg_daily_trips,created,string_feature
1450,2021-09-01 00:00:00+00:00,1001,0.320252,0.467902,102,2021-09-15 18:01:55.403,test
367,2021-09-01 00:00:00+00:00,1004,0.786329,0.207808,921,2021-09-15 18:01:55.403,test
728,2021-09-01 00:00:00+00:00,1003,0.249291,0.397794,322,2021-09-15 18:01:55.403,test
6,2021-09-01 00:00:00+00:00,1005,0.065470,0.040953,233,2021-09-15 18:01:55.403,test
1089,2021-09-01 00:00:00+00:00,1002,0.804684,0.568813,774,2021-09-15 18:01:55.403,test

In [6]:
# Inspecting the modified dataset's tail
data.tail()

,event_timestamp,driver_id,conv_rate,acc_rate,avg_daily_trips,created,string_feature
1064,2021-09-15 00:00:00+00:00,1003,0.083868,0.879234,353,2021-09-15 18:01:55.403,test
342,2021-09-15 00:00:00+00:00,1005,0.612066,0.741755,422,2021-09-15 18:01:55.403,test
1786,2021-09-15 00:00:00+00:00,1001,0.398596,0.138082,880,2021-09-15 18:01:55.403,test
703,2021-09-15 00:00:00+00:00,1004,0.219576,0.401717,348,2021-09-15 18:01:55.403,test
1425,2021-09-15 00:00:00+00:00,1002,0.295460,0.391500,93,2021-09-15 18:01:55.403,test

In [7]:
# Creating an "entity DataFrame" with timestamps, the driver IDs, and the string feature column
entity_df = data[['event_timestamp', 'driver_id', 'created', 'string_feature']]

In [8]:
# Inspecting the entity DF
entity_df

,event_timestamp,driver_id,created,string_feature
1450,2021-09-01 00:00:00+00:00,1001,2021-09-15 18:01:55.403,test
367,2021-09-01 00:00:00+00:00,1004,2021-09-15 18:01:55.403,test
728,2021-09-01 00:00:00+00:00,1003,2021-09-15 18:01:55.403,test
6,2021-09-01 00:00:00+00:00,1005,2021-09-15 18:01:55.403,test
1089,2021-09-01 00:00:00+00:00,1002,2021-09-15 18:01:55.403,test
...,...,...,...,...
1064,2021-09-15 00:00:00+00:00,1003,2021-09-15 18:01:55.403,test
342,2021-09-15 00:00:00+00:00,1005,2021-09-15 18:01:55.403,test
1786,2021-09-15 00:00:00+00:00,1001,2021-09-15 18:01:55.403,test
703,2021-09-15 00:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1425,2021-09-15 00:00:00+00:00,1002,2021-09-15 18:01:55.403,test

In [9]:
# Creating the first subset of the dataset
data_df1 = data[['conv_rate']]

In [10]:
# Inspecting the first subset
data_df1

      conv_rate
1450   0.320252
367    0.786329
728    0.249291
6      0.065470
1089   0.804684
...         ...
1064   0.083868
342    0.612066
1786   0.398596
703    0.219576
1425   0.295460

[1687 rows x 1 columns]

In [11]:
# Creating the second subset of the dataset
data_df2 = data[['acc_rate', 'avg_daily_trips']]

In [12]:
# Inspecting the second subset
data_df2

      acc_rate  avg_daily_trips
1450  0.467902              102
367   0.207808              921
728   0.397794              322
6     0.040953              233
1089  0.568813              774
...        ...              ...
1064  0.879234              353
342   0.741755              422
1786  0.138082              880
703   0.401717              348
1425  0.391500               93

[1687 rows x 2 columns]

In [13]:
# Adding the entity DF to each subset DF
data_df1 = pd.concat(objs=[data_df1, entity_df], axis=1)
data_df2 = pd.concat(objs=[data_df2, entity_df], axis=1)

In [14]:
# Inspecting the first subset's head
data_df1.head(25)

,conv_rate,event_timestamp,driver_id,created,string_feature
1450,0.320252,2021-09-01 00:00:00+00:00,1001,2021-09-15 18:01:55.403,test
367,0.786329,2021-09-01 00:00:00+00:00,1004,2021-09-15 18:01:55.403,test
728,0.249291,2021-09-01 00:00:00+00:00,1003,2021-09-15 18:01:55.403,test
6,0.065470,2021-09-01 00:00:00+00:00,1005,2021-09-15 18:01:55.403,test
1089,0.804684,2021-09-01 00:00:00+00:00,1002,2021-09-15 18:01:55.403,test
1451,0.126513,2021-09-01 01:00:00+00:00,1001,2021-09-15 18:01:55.403,test
729,0.972299,2021-09-01 01:00:00+00:00,1003,2021-09-15 18:01:55.403,test
7,0.322674,2021-09-01 01:00:00+00:00,1005,2021-09-15 18:01:55.403,test
368,0.706875,2021-09-01 01:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1090,0.198332,2021-09-01 01:00:00+00:00,1002,2021-09-15 18:01:55.403,test
1091,0.324382,2021-09-01 02:00:00+00:00,1002,2021-09-15 18:01:55.403,test
730,0.447430,2021-09-01 02:00:00+00:00,1003,2021-09-15 18:01:55.403,test
8,0.834001,2021-09-01 02:00:00+00:00,1005,2021-09-15 18:01:55.403,test
369,0.096068,2021-09-01 02:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1452,0.821713,2021-09-01 02:00:00+00:00,1001,2021-09-15 18:01:55.403,test
370,0.316962,2021-09-01 03:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1092,0.539666,2021-09-01 03:00:00+00:00,1002,2021-09-15 18:01:55.403,test
1453,0.177646,2021-09-01 03:00:00+00:00,1001,2021-09-15 18:01:55.403,test
9,0.315817,2021-09-01 03:00:00+00:00,1005,2021-09-15 18:01:55.403,test
731,0.202510,2021-09-01 03:00:00+00:00,1003,2021-09-15 18:01:55.403,test
1093,0.069548,2021-09-01 04:00:00+00:00,1002,2021-09-15 18:01:55.403,test
371,0.682968,2021-09-01 04:00:00+00:00,1004,2021-09-15 18:01:55.403,test
732,0.371943,2021-09-01 04:00:00+00:00,1003,2021-09-15 18:01:55.403,test
1454,0.260965,2021-09-01 04:00:00+00:00,1001,2021-09-15 18:01:55.403,test
10,0.196208,2021-09-01 04:00:00+00:00,1005,2021-09-15 18:01:55.403,test

In [15]:
# Inspecting the first subset's tail
data_df1.tail(25)

,conv_rate,event_timestamp,driver_id,created,string_feature
1421,0.815709,2021-09-14 20:00:00+00:00,1002,2021-09-15 18:01:55.403,test
338,0.700190,2021-09-14 20:00:00+00:00,1005,2021-09-15 18:01:55.403,test
1782,0.707090,2021-09-14 20:00:00+00:00,1001,2021-09-15 18:01:55.403,test
1060,0.086213,2021-09-14 20:00:00+00:00,1003,2021-09-15 18:01:55.403,test
699,0.873880,2021-09-14 20:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1422,0.910774,2021-09-14 21:00:00+00:00,1002,2021-09-15 18:01:55.403,test
700,0.713480,2021-09-14 21:00:00+00:00,1004,2021-09-15 18:01:55.403,test
339,0.472055,2021-09-14 21:00:00+00:00,1005,2021-09-15 18:01:55.403,test
1061,0.793542,2021-09-14 21:00:00+00:00,1003,2021-09-15 18:01:55.403,test
1783,0.033255,2021-09-14 21:00:00+00:00,1001,2021-09-15 18:01:55.403,test
701,0.794698,2021-09-14 22:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1784,0.769181,2021-09-14 22:00:00+00:00,1001,2021-09-15 18:01:55.403,test
340,0.916759,2021-09-14 22:00:00+00:00,1005,2021-09-15 18:01:55.403,test
1062,0.407762,2021-09-14 22:00:00+00:00,1003,2021-09-15 18:01:55.403,test
1423,0.054487,2021-09-14 22:00:00+00:00,1002,2021-09-15 18:01:55.403,test
341,0.039339,2021-09-14 23:00:00+00:00,1005,2021-09-15 18:01:55.403,test
1785,0.255142,2021-09-14 23:00:00+00:00,1001,2021-09-15 18:01:55.403,test
1063,0.176293,2021-09-14 23:00:00+00:00,1003,2021-09-15 18:01:55.403,test
702,0.857021,2021-09-14 23:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1424,0.994579,2021-09-14 23:00:00+00:00,1002,2021-09-15 18:01:55.403,test
1064,0.083868,2021-09-15 00:00:00+00:00,1003,2021-09-15 18:01:55.403,test
342,0.612066,2021-09-15 00:00:00+00:00,1005,2021-09-15 18:01:55.403,test
1786,0.398596,2021-09-15 00:00:00+00:00,1001,2021-09-15 18:01:55.403,test
703,0.219576,2021-09-15 00:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1425,0.295460,2021-09-15 00:00:00+00:00,1002,2021-09-15 18:01:55.403,test

In [16]:
# Inspecting the second subset's head
data_df2.head(25)

,acc_rate,avg_daily_trips,event_timestamp,driver_id,created,string_feature
1450,0.467902,102,2021-09-01 00:00:00+00:00,1001,2021-09-15 18:01:55.403,test
367,0.207808,921,2021-09-01 00:00:00+00:00,1004,2021-09-15 18:01:55.403,test
728,0.397794,322,2021-09-01 00:00:00+00:00,1003,2021-09-15 18:01:55.403,test
6,0.040953,233,2021-09-01 00:00:00+00:00,1005,2021-09-15 18:01:55.403,test
1089,0.568813,774,2021-09-01 00:00:00+00:00,1002,2021-09-15 18:01:55.403,test
1451,0.201882,583,2021-09-01 01:00:00+00:00,1001,2021-09-15 18:01:55.403,test
729,0.071615,320,2021-09-01 01:00:00+00:00,1003,2021-09-15 18:01:55.403,test
7,0.351670,571,2021-09-01 01:00:00+00:00,1005,2021-09-15 18:01:55.403,test
368,0.014739,777,2021-09-01 01:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1090,0.724919,42,2021-09-01 01:00:00+00:00,1002,2021-09-15 18:01:55.403,test
1091,0.997275,783,2021-09-01 02:00:00+00:00,1002,2021-09-15 18:01:55.403,test
730,0.994809,222,2021-09-01 02:00:00+00:00,1003,2021-09-15 18:01:55.403,test
8,0.414044,808,2021-09-01 02:00:00+00:00,1005,2021-09-15 18:01:55.403,test
369,0.060952,221,2021-09-01 02:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1452,0.827314,22,2021-09-01 02:00:00+00:00,1001,2021-09-15 18:01:55.403,test
370,0.498748,781,2021-09-01 03:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1092,0.367076,643,2021-09-01 03:00:00+00:00,1002,2021-09-15 18:01:55.403,test
1453,0.636151,227,2021-09-01 03:00:00+00:00,1001,2021-09-15 18:01:55.403,test
9,0.187917,171,2021-09-01 03:00:00+00:00,1005,2021-09-15 18:01:55.403,test
731,0.622369,35,2021-09-01 03:00:00+00:00,1003,2021-09-15 18:01:55.403,test
1093,0.431946,866,2021-09-01 04:00:00+00:00,1002,2021-09-15 18:01:55.403,test
371,0.008434,371,2021-09-01 04:00:00+00:00,1004,2021-09-15 18:01:55.403,test
732,0.061133,35,2021-09-01 04:00:00+00:00,1003,2021-09-15 18:01:55.403,test
1454,0.054461,735,2021-09-01 04:00:00+00:00,1001,2021-09-15 18:01:55.403,test
10,0.985102,765,2021-09-01 04:00:00+00:00,1005,2021-09-15 18:01:55.403,test

In [17]:
# Inspecting the second subset's tail
data_df2.tail(25)

,acc_rate,avg_daily_trips,event_timestamp,driver_id,created,string_feature
1421,0.735528,805,2021-09-14 20:00:00+00:00,1002,2021-09-15 18:01:55.403,test
338,0.554019,575,2021-09-14 20:00:00+00:00,1005,2021-09-15 18:01:55.403,test
1782,0.075818,220,2021-09-14 20:00:00+00:00,1001,2021-09-15 18:01:55.403,test
1060,0.752134,124,2021-09-14 20:00:00+00:00,1003,2021-09-15 18:01:55.403,test
699,0.072459,720,2021-09-14 20:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1422,0.550923,293,2021-09-14 21:00:00+00:00,1002,2021-09-15 18:01:55.403,test
700,0.789342,100,2021-09-14 21:00:00+00:00,1004,2021-09-15 18:01:55.403,test
339,0.984630,915,2021-09-14 21:00:00+00:00,1005,2021-09-15 18:01:55.403,test
1061,0.908255,890,2021-09-14 21:00:00+00:00,1003,2021-09-15 18:01:55.403,test
1783,0.030901,81,2021-09-14 21:00:00+00:00,1001,2021-09-15 18:01:55.403,test
701,0.335031,602,2021-09-14 22:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1784,0.228831,319,2021-09-14 22:00:00+00:00,1001,2021-09-15 18:01:55.403,test
340,0.683923,22,2021-09-14 22:00:00+00:00,1005,2021-09-15 18:01:55.403,test
1062,0.370612,408,2021-09-14 22:00:00+00:00,1003,2021-09-15 18:01:55.403,test
1423,0.181187,527,2021-09-14 22:00:00+00:00,1002,2021-09-15 18:01:55.403,test
341,0.755064,489,2021-09-14 23:00:00+00:00,1005,2021-09-15 18:01:55.403,test
1785,0.385749,643,2021-09-14 23:00:00+00:00,1001,2021-09-15 18:01:55.403,test
1063,0.276560,655,2021-09-14 23:00:00+00:00,1003,2021-09-15 18:01:55.403,test
702,0.341636,115,2021-09-14 23:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1424,0.085912,630,2021-09-14 23:00:00+00:00,1002,2021-09-15 18:01:55.403,test
1064,0.879234,353,2021-09-15 00:00:00+00:00,1003,2021-09-15 18:01:55.403,test
342,0.741755,422,2021-09-15 00:00:00+00:00,1005,2021-09-15 18:01:55.403,test
1786,0.138082,880,2021-09-15 00:00:00+00:00,1001,2021-09-15 18:01:55.403,test
703,0.401717,348,2021-09-15 00:00:00+00:00,1004,2021-09-15 18:01:55.403,test
1425,0.391500,93,2021-09-15 00:00:00+00:00,1002,2021-09-15 18:01:55.403,test

In [18]:
data_df1.to_parquet("driver_stats/data/driver_stats_1.parquet")
data_df2.to_parquet("driver_stats/data/driver_stats_2.parquet")